.hero {
  text-align: center;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .hero {
    display: flex;
    justify-content: space-around;
  }
}

.hero img {
  align-self: center;
  max-height: 400px;
  padding-bottom: 30px;
  max-width: 100%;
}
