.Valores {
  padding-top: 30px;
}

.Valores h2 {
  margin-bottom: 30px;
}
.Valores h2 span {
  color: rgb(236, 25, 56);
}

.Valores span {
  font-weight: bold;
}

.Valores__valor::before {
  content: ">  ";
  color: rgb(236, 25, 56);
  font-weight: bolder;
}
